/// General Styling \\\
body {
	line-height: 1.3;
	margin: 5px auto 25px;
	font-size: 11.75pt;
	max-width: 1440px;
	background-color: black;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
table.c1 {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;

	tr.h, tr.c {
		text-align: center;
	}
	td.nb {
		border: 0;
	}
}

img {
	max-width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid white;
}

/// Links \\\
a {
	text-decoration: none;
	font-weight: bold;
}
a:link, a:visited	{ color: #a0ff80 }
a:active, a:hover	{ color: #FFFFFF }

/// Header table styling \\\
.header {
	.text {
		text-align: center;
	}

	.menu {
		a {
			margin-left: 20px;
			display: inline-block;
			padding: 7px 0px;
		}

		&.right {
			text-align:right;

			a {
				margin-left: 0;
				margin-right: 20px;
				display: inline-block;
				padding: 7px 0px;
			}
		}
	}
}

/// Header and footer spacing \\\
.header {
	margin-bottom: 1.75em;
}
.footer {
	margin-top: 1.75em;
}


.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.float-left { float: left; }
.float-right { float: right; }

.w-30px  { width: 30px;  }
.w-32px  { width: 32px;  }
.w-60px  { width: 60px;  }
.w-64px  { width: 64px;  }
.w-120px { width: 120px; }
.w-130px { width: 130px; }
.w-140px { width: 140px; }
.w-150px { width: 150px; }
.w-175px { width: 175px; }
.w-180px { width: 180px; }
.h-40px  { height: 40px; }

.two-columns {
	display: block;

	table {
		margin: 15px 0px;
	}

	@media only screen and (min-width: 1024px) {
		display: flex;
		align-items: flex-start;

		table {
			margin: 0px 10px;
		}
	}
}


.reglog {
	text-align: center;

	p {
		margin-bottom: 30px;
	}

	div {
		max-width: 500px;
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 10px auto;
		border-top: 1px solid #c2c2c2;

		&:last-child {border-bottom:0}
	}

	span {
		width: 200px;
		display: inline-block;
	}
}

.error {
	color: #fa7f7f;
}

.breadcrumb {
	margin: 1.75em 10px;

	.actions {
		float: right;
	}
}

.pagination {
	margin: 1.5em 10px;

	span {
		padding: 0 5px;
	}
}

.br-after {
	margin-bottom: 1.75em;
}

/// Footer \\\

.footer {
	font-size: 0.85em;

	.stats {
		float: right;
		padding-top: 0.5em;
	}

	.poweredby {
		float: left;
		margin-right: 4px;
		margin-top: 3px;
		width: 88px;
	}
}

.threadpost {
	margin-bottom: 0.75em;

	&:last-child { margin-bottom: 0 }

	.topbar_1 {
		border-bottom: 0 !important;
		border-right: 0 !important;
		width: 180px;
		height: 32px;
	}
	.topbar_2 {
		border-left: 0 !important;
		padding: 7px 10px;
	}

	.topbar_1, .sidebar {
		border-top: 0 !important;
		text-align: center;
	}

	.mainbar {
		padding: 10px;
		line-height: 1.5;
	}
}

.codeblock {
	background-color: #151515;
	color: #50fc5e;
	border: 1px solid #6c6;
	padding: 10px;
	margin: 5px;
	white-space: pre-wrap;
	font-family: 'Fira Code', Monaco, Consolas, monospace;
}

.smiley {
	vertical-align: middle;
}

ul.pipemenu {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		border-left: 1.1px solid white;
		padding: 0px 8px;

		&:first-child {
			border-left-width: 0;
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

.postform {
	input[type=text] {
		margin: 10px 0;
	}

	textarea, .actionbar {
		width: 90%;
		max-width: 900px;
	}

	.actionbar, .actionbar-quick {
		text-align: center;

		input[type=submit] {
			margin: 10px 10px;
		}
	}
}

table.postformatting {
	border-spacing: 0px;
	border-collapse: collapse;

	td {
		border: 0 !important;
	}

	input[type=button], button {
		text-align: center;
		width: 40px;
		height: 35px;
		font-size: 11pt;
	}
}

/// Default input styling \\\
input[type='text'], input[type='password'], input[type='email'], textarea, select, input[type='submit'], input[type='button'], button {
	font-size: 1em;
	font-family: 'Open Sans';
	padding: 5px;
}

input[type='submit'], input[type='button'], button {
	font-weight: bold;
	padding: 5px 10px;
}

/// Spoilers \\\

.spoiler {
	border: 2px dotted #bebebe;
	display: inline-block;

	.container { opacity: 0; }
	.container:hover { opacity: 1; }
}

/// Quotes \\\

.quote {
	margin: 10px 30px 30px 30px;

	.author {
		font-style: italic;
		font-size: 0.95em;
		margin-bottom: 10px;
		padding-left: 15px;
	}

	.quotetext {
		border: 2px solid #c2c2c2;
		border-left: 0;
		border-right: 0;
		padding: 5px;
	}
}

/// FAQ styling \\\

.faq {
	p {
		margin-bottom: 1em;
		margin-top: 1em;
		line-height: 1.5;
	}

	li {
		margin-bottom: 1em;
	}
	.toc li {
		margin-bottom: 0.6em;
	}

	pre {
		display: inline-block;
	}
}
.faq > tbody > tr > .n1 {
	padding: 5px 15px;
}

.autowidth { width: auto !important }

/* Mobile hacks haha :^) */
@media (min-width: 640px) {
	.nod { display: none; }
}

@media only screen and (max-width: 640px) {
	/* 'no mobile' */
	.nom { display: none; }

	/* 'no desktop' */
	.nod { display: unset; }

	.nod img { max-height: 64px; }

	/* display block on mobile */
	.blkm { display: block !important; }

	.threadpost .topbar_1 {
		width: unset;
		height: unset;
		text-align: left;
	}
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
