# Composer
vendor/

# Compiled CSS
static/css/

# Cache
templates/cache/

# Userpics
static/userpic/*
!static/userpic/.gitkeep

# Config directory
conf/*
!conf/config.sample.php
!conf/faq.sample.php

# Misc.
uploader/
static/smilies/

# Cluttered drawer of stuff
contrib/
