# Composer
vendor/
composer.lock

# Compiled CSS
assets/css/
themes/voxelmanip_retro/style.css

# Cache
templates/cache/

# Userpics
userpic/*
!userpic/.gitkeep

# Config directory
conf/*
!conf/config.sample.php
!conf/faq.sample.php

# Misc.
test/
uploader/

# Don't check in VMF-specific assets
assets/voxelmanip_forums.png
assets/voxelmanip_forums*
assets/poweredbyvoxelmanip.png
assets/smilies/

# Cluttered drawer of stuff
contrib/
