# Composer
vendor/
composer.lock

# Compiled CSS
static/css/
static/themes/voxelmanip_retro/style.css

# Cache
templates/cache/

# Userpics
static/userpic/*
!static/userpic/.gitkeep

# Config directory
conf/*
!conf/config.sample.php
!conf/faq.sample.php

# Misc.
uploader/

# Don't check in VMF-specific assets
static/assets/voxelmanip_forums.png
static/assets/voxelmanip_forums*
static/assets/poweredbyvoxelmanip.png
static/smilies/

# Cluttered drawer of stuff
contrib/
