
Options -Indexes
DirectoryIndex this-file-shouldnt-exist.txt

RewriteEngine on

RewriteCond %{DOCUMENT_ROOT}/static/%{REQUEST_URI} -f
RewriteRule ^(.*)$ /static/$1 [END]

FallbackResource /router.php
