/// General Styling \\\
body {
	line-height: 1.3;
	margin: 5px auto 25px;
	font-size: 12pt;
	max-width: 1440px;
}
table.c1 {
	border-spacing: 0px;
	border-collapse: collapse;
	width: 100%;

	tr.h, tr.c {
		text-align: center;
	}
	td.nb {
		border: 0;
	}
}

/// Links \\\
a {
	text-decoration: none;
	font-weight: bold;
}
a:link, a:visited	{ color: #a0ff80 }
a:active, a:hover	{ color: #FFFFFF }

/// Header table styling \\\
.header {
	.text {
		text-align: center;
		font-size: 42pt; // beeeg
	}

	.menu {
		a {
			margin-left: 20px;
			display: inline-block;
			padding: 7px 0px;
		}

		&.right {
			text-align:right;

			a {
				margin-left: 0;
				margin-right: 20px;
				display: inline-block;
				padding: 7px 0px;
			}
		}
	}
}

/// Header and footer spacing \\\
/// (Don't repeat the mistake of slapping <br> everywhere) \\\\
.header {
	margin-bottom: 1.75em;
}
.footer {
	margin-top: 1.75em;
}

.left { text-align: left; }
.center { text-align: center; }
.right { text-align: right; }

.reglog {
	text-align: center;

	p {
		margin-bottom: 30px;
	}

	div {
		max-width: 500px;
		padding-top: 15px;
		padding-bottom: 5px;
		padding-left: 10px;
		padding-right: 10px;
		margin: 10px auto;
	}

	span {
		width: 200px;
		display: inline-block;
	}
}

.error {
	color: #fa7f7f;
}

.breadcrumb {
	margin: 1.75em 10px;

	.actions {
		float: right;
	}
}

.pagination {
	margin: 1.75em 10px 0;

	span {
		padding: 0 5px;
	}
}

.threadpost {
	margin-bottom: 0.75em;

	&:last-child { margin-bottom: 0 }

	.topbar_1, .topbar_2, .sidebar {
		border: 0 !important;
	}

	.topbar_1 {
		width: 180px;
		height: 32px;
	}
	.topbar_2 {
		padding: 7px 10px;
	}

	.topbar_1, .sidebar {
		text-align: center;
	}

	.mainbar {
		padding: 10px;
		line-height: 1.5;
	}
}

.codeblock {
	background-color: #151515;
	color: #50fc5e;
	border: 1px solid #6c6;
	padding: 10px;
	margin: 5px;
	white-space: pre-wrap;
	font-family: 'Fira Code', Monaco, Consolas, monospace;
}

.smiley {
	vertical-align: middle;
}

ul.pipemenu {
	display: inline;
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: inline-block;
		border-left: 1.1px solid white;
		padding: 0px 8px;

		&:first-child {
			border-left-width: 0;
			padding-left: 0;
		}

		&:last-child {
			padding-right: 0;
		}
	}
}

.postform {
	input[type=text] {
		margin: 10px 0;
	}

	textarea, .actionbar {
		width: 90%;
		max-width: 900px;
	}

	.actionbar {
		text-align: center;

		input[type=submit] {
			margin: 10px 10px;
		}
	}
}

table.postformatting {
	border-spacing: 0px;
	border-collapse: collapse;

	td {
		border: 0 !important;
	}

	input[type=button] {
		text-align: center;
		width: auto;
		height: 35px;
		font-size: 11pt;
	}
}

// Spoilers

.spoiler {
	border: 2px dotted #bebebe;
	display: inline-block;

	.container { opacity: 0; }
	.container:hover { opacity: 1; }
}

// Quotes

.quote {
	margin: 10px 30px 30px 30px;

	.author {
		font-style: italic;
		font-size: 0.95em;
		margin-bottom: 10px;
		padding-left: 15px;
	}

	.quotetext {
		/*border: 2px solid #38c016;
		border-left: 0;
		border-right: 0;*/
		padding: 5px;
	}
}

// FAQ styling

.faq {
	p {
		margin-bottom: 1em;
		margin-top: 1em;
		line-height: 1.5;
	}

	li {
		margin-bottom: 1em;
	}
	.toc li {
		margin-bottom: 0.6em;
	}

	pre {
		display: inline-block;
	}
}
.faq > tbody > tr > .n1 {
	padding: 5px 15px;
}

.autowidth { width: auto !important }

/// Example theme styling (voxelmanip_retro) \\\

$primary: #38c016;

body {
	background: url('../coolgreen2.png') #011b01;
	color: #f8f8f8;
	font-family: 'Open Sans', sans-serif;
}

table.c1 {
	border: 2px solid $primary;

	tr.h {
		font-weight: bold;
	}

	tr.c, tr.h {
		font-size: 0.95em;
		text-align: center;
	}

	td {
		border: 1px solid $primary;
		padding: 5px;
	}

	tr.h, td.h {
		background: rgba(32,98,2,0.8);
	}

	tr.n1, td.n1 { background: rgba(5, 9, 3, 0.6); }
	tr.n2, td.n2 { background: rgba(16, 48, 2, 0.65); }
	tr.n3, td.n3 { background: rgba(0,0,0,0.6); }
}

input[type='text'], input[type='password'], input[type='email'], textarea, select, input[type='submit'], input[type='button'], button {
	background: #000;
	color: #efe;
	padding: 4px;
	border: 2px solid #106202;
	font-family: 'Verdana', 'geneva', sans-serif;
	font-size: 1em;
}

input[type='submit'], input[type='button'], button {
	background: #021800;
	font-weight: bold;
	padding: 5px 10px;
}

input[type='text']:hover, input[type='password']:hover, input[type='email']:hover, textarea:hover, select:hover, input[type='text']:focus, input[type='password']:focus, input[type='email']:focus, textarea:focus, select:focus,
input[type='submit']:hover, input[type='button']:hover, button:hover, input[type='submit']:focus, input[type='button']:focus, button:focus {
	border: 2px solid $primary;
}

.reglog div {
	border-top: 1px solid $primary;

	&:last-child {border-bottom:0}
}

.quote .quotetext {
	border: 2px solid $primary;
	border-left: 0;
	border-right: 0;
}
