{% extends "_layout.twig" %}

{% set title = err_title %}

	{% block content %}
<table class="c1">
	<tr class="h"><td class="b h center">Erorr - {{ err_title }}</td></tr>
	<tr><td class="b n1 center">{{ err_message | raw }}</td></tr>
</table>
	{% endblock %}