{% extends "_layout.twig" %}

{% set title = err_title %}
{% set nobreadcrumb = true %}

	{% block content %}
<table class="c1">
	<tr class="h"><td class="center">Error - {{ err_title }}</td></tr>
	<tr><td class="n1 center">{{ err_message | raw }}</td></tr>
</table>
	{% endblock %}