<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

	<title>{{ config.title }}</title>

	<link rel="stylesheet" href="/assets/css/style.css">
</head>
<body>
	<table class="c1 header">
		<tr><td class="b n1 text" colspan="2">
			<img src="{{ config.logo }}">
		</td></tr>
		<tr>
			<td class="n2 nb menu">
				<a href="./">Index</a>
			</td>
			<td class="n2 nb menu right">
				<a href="register.php">Register</a><a href="login.php">Login</a>
			</td>
		</tr>
	</table>

	{% block content %}{% endblock %}

	<table class="c1 footer">
		<tr><td class="b n3">
			Powered by Forum&trade;<br>
			{{ profiler_stats() }}
		</td></tr>
	</table>
</body>
</html>
