{% extends "_layout.twig" %}

{% set title = "Credits" %}
{% set noindex = true %}

	{% block content %}
<table class="c1 faq">
	<tr class="h"><td>Credits</td></tr>
	<tr><td class="n1">
		<p>Cirrusboard is a minimally lightweight forum software powering {{ config.title }}. It is inspired by the Acmlmboard type of forums, yet bringing modernity to the table with a cleaner codebase while remaining fast and lightweight.</p>

		<p>Cirrusboard is licensed under the MIT license, allowing you to make use of it in any way you see fit, given attribution:</p>

		<div class="codeblock" style="width:auto;display:inline-block">Cirrusboard - Minimal forum software written in PHP

Copyright (c) 2022 ROllerozxa

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</div>

		<p><strong>The developers of Cirrusboard are not responsible for content on third-party forums running it.</strong> If you have issues with a forum running Cirrusboard then please contact the forum's administrator(s) or contact the host's abuse email.</p>

		<p>The following libraries are used:</p>
		<ul>
			<li><a href="https://twig.symfony.com/">Twig</a></li>
			<li><a href="https://github.com/mpratt/RelativeTime">RelativeTime</a></li>
		</ul>
	</td></tr>
</table>
	{% endblock %}