{% extends "_layout.twig" %}

{% block title %}Index{% endblock %}

	{% block content %}
<table class="c1">
	<tr class="h"><td class="b">Index page</td></tr>
	<tr><td class="b n1">
		<p>This thing is very work in progress yeah</p>

		{% if log %}<p>Logged in as: {{ userdata.name }}</p>{% endif %}
	</td></tr>
</table>
	{% endblock %}
