{% extends "_layout.twig" %}

{% block title %}Index{% endblock %}

	{% block content %}
<table class="c1">
	<tr class="h"><td class="b">Index page</td></tr>
	<tr><td class="b n1">This thing is very work in progress yeah</td></tr>
</table>
	{% endblock %}
