{% extends "_layout.twig" %}

{% set title = "Login" %}
{% set noindex = true %}

	{% block content %}
<form class="reglog" method="POST"><table class="c1">
	<tr class="h"><td>Login</td></tr>
	<tr><td class="n1 center">
		{% if error %}
			<p class="error">Error: {{ error }}</p>
		{% endif %}

		<p>Login to your existing {{ config.title }} account.</p>

		<div>
			<span>Username:</span>
			<input type="text" name="name" size="25" maxlength="25" value="{{ name }}">
		</div><div>
			<span>Password:</span>
			<input type="password" name="password" size="25" maxlength="32">
		</div>

		<div><input type="submit" class="submit" name="action" value="Login"></div>
	</td>
</table></form>
	{% endblock %}