{% extends "_layout.twig" %}

{% set title = __("New reply") %}
{% set noindex = true %}

	{% block content %}
{% if error %}
	<p class="error">{{ __("The following errors occurred when trying to make a reply:") }} <br>- {{ error | join('<br>- ') | raw }}</p>
{% endif %}

{% if action == 'Preview' %}
	{{ threadpost(post) }}
{% endif %}

{{ postform('newreply?id='~id, __("New reply"), thread.title, message, false) }}
	{% endblock %}
