{% extends "_layout.twig" %}

{% set title = __("New thread") %}
{% set noindex = true %}

	{% block content %}
{% if error %}
	<p class="error">{{ __("The following errors occurred when trying to make a new thread:") }} <br>- {{ error | join('<br>- ') | raw }}</p>
{% endif %}

{% if action == 'Preview' %}
	{{ threadpost(post) }}
{% endif %}

{{ postform('', __("New thread"), threadtitle, message, true) }}
	{% endblock %}
