{% extends "_layout.twig" %}

{% set title = profile.name %}

	{% block content %}
{% for cat, fields in profilefields %}
	<table class="c1">
		<tr class="h"><td colspan="2">{{ cat }}</td></tr>
		{% for title, value in fields %}
			{% if value %}
				<tr><td class="n1 w-130px"><b>{{ title }}</b></td><td class="n2">{{ value | raw }}</td>
			{% endif %}
		{% endfor %}
	</table><br>
{% endfor %}

{{ threadpost(sample_post) }}
	{% endblock %}
