{% extends "_layout.twig" %}

{% set title = "Register" %}
{% set noindex = true %}

	{% block content %}
<form class="reglog" method="POST"><table class="c1">
	<tr class="h"><td>Register</td></tr>
	<tr><td class="n1 center">
		{% if error %}
			<p class="error">The following errors occured when trying to register: <br>- {{ error | join('<br>-') | raw }}</p>
		{% endif %}

		<p>Register an account at {{ config.title }} in order to post and partake in discussions!</p>

		<div>
			<span>Username:</span>
			<input type="text" name="name" size="25" maxlength="25" value="{{ name }}">
		</div><div>
			<span>Password:</span>
			<input type="password" name="password" size="25" maxlength="32">
		</div><div>
			<span>Password confirmation:</span>
			<input type="password" name="password2" size="25" maxlength="32">
		</div>

		<div><input type="submit" class="submit" name="action" value="Register"></div>
	</td>
</table></form>
	{% endblock %}