{% extends "_layout.twig" %}

{% if viewmode == "thread" %}
	{% set title = thread.title %}

	{% if log %}
		{% set actions = {("newreply.php?id="~id) : "New reply"} %}
	{% endif %}
{% elseif viewmode == "user" %}
	{% set title = "Posts" %}
{% elseif viewmode == "time" %}
	{% set title = "Latest posts (by post)" %}
{% endif %}

	{% block content %}
{% if viewmode == "time" %}
	<table class="c1 autowidth">
		<tr class="h"><td>Latest posts</td></tr>
		<tr><td class="n1 center">
			<a href="forum.php?time={{ time }}">By thread</a> | By post
			<br><br>{{ timelinks('forum', time) }}
		</td></tr>
	</table><br>
{% endif %}

{% for post in posts %}
	{{ threadpost(post) }}
{% endfor %}
	{% endblock %}
